[push]
  default = current
[color]
  ui = auto
[alias]
  ap = add --patch
  co = checkout
[core]
  excludesFile = ~/.gitignore
  autocrlf = input
  pager = delta
[fetch]
  prune = true
[pull]
  rebase = false
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true    # use n and N to move between diff sections
  light = true      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[includeIf "gitdir/i:~/anz/"]
    path = anz.gitconfig
[includeIf "gitdir/i:~/repos/"]
    path = me.gitconfig
[includeIf "gitdir/i:~/dotfiles/"]
    path = me.gitconfig
