[user]
	email = haydenmeade@gmail.com
	name = Hayden Meade
[push]
  default = current
[color]
  ui = auto
[alias]
  ap = add --patch
  co = checkout
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
[commit]
  template = ~/.gitmessage
[fetch]
  prune = true
[pull]
  rebase = false
