[user]
  email = haydenmeade@gmail.com
  name = Hayden Meade
[push]
  default = current
[color]
  ui = auto
[alias]
  ap = add --patch
  co = checkout
[core]
  excludesFile = ~/.gitignore
  autocrlf = input
  pager = delta
[commit]
  template = ~/.gitmessage
[fetch]
  prune = true
[pull]
  rebase = false
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[credential "https://github.com"]
  helper = !/usr/bin/gh auth git-credential
